# Java
*.class
*.jar

# Eclipse
bin/

#IntelliJ
.idea/
out/
*.iml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# SQLite database files
*.sqlite3
*.db

.DS_Store
SSH*btree*
!src/main/java/cs321/create/SSHCreateBTree.java
!src/test/java/cs321/create/SSHCreateBTreeTest.java
dumps/dump-*
